Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php


# Login
RewriteRule ^iniciar-sesion$ index.php
RewriteRule ^iniciar-sesion/error$ index.php?error=true



# Productos
RewriteRule ^productos$ products/index.php




# PERFIL
RewriteRule ^perfil$ user/profile.php
RewriteRule ^editar-perfil$ user/profile-settings.php

