Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^Controlador-brand$ app/BrandController.php
RewriteRule ^Controlador-categorias$ app/CategoriasController.php
RewriteRule ^Controlador-clientes$ app/ClientsController.php
RewriteRule ^Controlador-config$ app/config.php
RewriteRule ^Controlador-levels$ app/LevelsController.php
RewriteRule ^Controlador-ordenes$ app/OrdersController.php
RewriteRule ^Controlador-productos$ app/ProductsController.php
RewriteRule ^Controlador-usuarios$ app/UsersController.php
RewriteRule ^Controlador-cupones$ app/CouponsController.php
RewriteRule ^Controlador-etiquetas$ app/TagsController.php


# Login
RewriteRule ^iniciar-sesion$ index.php
RewriteRule ^iniciar-sesion/error$ index.php?error=true



# Productos
RewriteRule ^productos$ products/index.php
RewriteRule ^productos/error$ products/index.php?error=true
RewriteRule ^productos/success$ products/index.php?success=true
RewriteRule ^agregar-producto$ products/add-product.php
RewriteRule ^producto//$ products/details.php?id=$1
RewriteRule ^editar-producto/(.+)/$ products/edit-product.php?id=$1


# Catalogos
RewriteRule ^marcas$ catalogos/brands.php
RewriteRule ^categorias$ catalogos/categorias.php
RewriteRule ^tags$ catalogos/tags.php

# PERFIL
RewriteRule ^perfil$ user/profile.php


# Usuarios

RewriteRule ^usuarios$ user/users.php
RewriteRule ^clientes$ user/clients.php
RewriteRule ^usuario/id$ user/userDetail.php


# Cupones

RewriteRule ^cupones$ cupons/cupons.php