Options +FollowSymLinks -MultiViews
RewriteEngine on

#Rutas
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^Controlador-usuarios$ app/UsersController.php

# Login
RewriteRule ^iniciar-sesion$ index.php
RewriteRule ^iniciar-sesion/error$ index.php?error=true



# Productos
RewriteRule ^productos$ products/index.php
RewriteRule ^productos/error$ products/index.php?error=true
RewriteRule ^productos/success$ products/index.php?success=true
RewriteRule ^agregar-producto$ products/add-product.php




# PERFIL
RewriteRule ^perfil$ user/profile.php
RewriteRule ^editar-perfil$ user/profile-settings.php


# Usuarios

RewriteRule ^usuarios$ user/users.php

